.message__avatar_user{
    margin-left: 10px;
    float: right;
}

.message__avatar_base{
    align-self: flex-end;
    width: 35px !important;
    height: 35px !important;
}

.message__avatar{
    margin-right: 10px;
    float: left;
}

.message__paper_user{
    background-color: #7986cb !important;
}

.message__paper{
    background-color: #e0e0e0 !important;
}
.message__paper_base{
    max-width: 200px;
    border-radius: 10px !important; 
    padding: 8px;
    display:inline-block;
    word-wrap: break-word;
}

.message__wrapper_user{
    display: flex;
    flex-direction: row-reverse;
    float: right;
}

.message__wrapper{
    display: flex;
    flex-direction: row;
    float: left;
}

